<div class="mainContainer" ng-init="vm.loadGames()">
    <div class="container">
        <h1>Mean Games</h1>

        <button ng-if="vm.isLoggedIn()" ng-click="vm.toAdd()" class="btn btn-primary"><i class="bi bi-plus-lg">Add</i></button>
        <div class="row" ng-repeat="game in vm.games">
            <div class="col">
                <a href="/#!/game/{{game._id}}">{{game.title}}</a>
            </div>
            <div class="col">
                <button ng-if="vm.isLoggedIn()" ng-click="vm.delete(game._id)" class="btn btn-outline-danger my-1">
                    <i class="bi bi-trash"></i>
                </button>
                <button ng-if="vm.isLoggedIn()" ng-click="vm.toUpdate(game._id)" class="btn btn-primary my-1">
                    <i class="bi bi-pencil"></i>
                </button>
            </div>
        </div>
    </div>
</div>