html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 90px;
}

.padded{
    paddint-top: 30px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 105px;
    background-color: white;
}