<div class="mainContainer">
    <div class="container">
        <h1>Information about game:
            <p>{{vm.game.title}}
                <game-rating></game-rating>
            </p>
        </h1>

        <p>
            Price: {{vm.game.price | currency}}<br/>
            Min Player: {{vm.game.minPlayers | number}}<br/>
            Max Player: {{vm.game.maxPlayers | number}}<br/>
            Min Age: {{vm.game.minAge | number}}<br/>
            Publisher name: {{vm.game.publisher.name}}<br/>
        </p></div>
</div>