<div class="mainContainer">
    <div class="container bg-dark">
        <h1>{{vm.title}}</h1>

        <form name="vm.newGameForm" ng-submit="vm.saveGame()">
            <div class="form-control">
                Title: <input type="text" ng-model="vm.newGame.title" required/><br/>

                Price: <input type="text" ng-model="vm.newGame.price" required/><br/>
                Year: <input type="text" ng-model="vm.newGame.year" required/><br/>
                Rating: <input type="text" name="rating" ng-model="vm.newGame.rate" required pattern="[1-5]"/>
                <span ng-if="vm.newGameForm.rating.$dirty && vm.newGameForm.rating.$invalid">Rate should be 1-5</span><br/>

                Min Players: <input type="text" ng-model="vm.newGame.minPlayers" required/><br/>
                Max Players: <input type="text" ng-model="vm.newGame.maxPlayers" required/><br/>
                Min Age: <input type="text" ng-model="vm.newGame.minAge" required/><br/>
            </div>

            <div class="form-control">
                <div class="col-2">
                    <button type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
