<nav ng-controller="LoginController as vm" class="navbar navbar-expand-lg navbar-fixed-top bg-dark" ng-init="vm.init()">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler collapsed bg-light" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#/">MeanGames</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item" ng-class="vm.isActiveTab('')" class="active">
                    <a class="nav-link" href="#!/">Home</a>
                </li>
                <li class="nav-item" ng-class="vm.isActiveTab('games')">
                    <a class="nav-link" href="#!/games">Games</a>
                </li>
                <li class="nav-item" ng-if="!vm.isLoggedIn()" ng-class="vm.isActiveTab('register')">
                    <a class="nav-link" href="#!/register">Register</a>
                </li>
                <li class="nav-item" ng-if="vm.isLoggedIn()" ng-class="vm.isActiveTab('profile')">
                    <a class="nav-link" href="#!/profile">Profile</a>
                </li>
            </ul>
            <div class="col-xs-6 float-md-end">
                <form ng-if="!vm.isLoggedIn()" class="navbar-form navbar-right d-flex " role="login" ng-submit="vm.login()">
                    <div class="form-group mx-1" ng-class="{'has-error': vm.err}">
                        <input type="text" class="form-control input-sm" placeholder="Username" ng-model="vm.username" autocapitalize="none">
                    </div>
                    <div class="form-group mx-1" ng-class="{'has-error': vm.err}">
                        <input type="password" class="form-control input-sm" placeholder="Password" ng-model="vm.password" autocapitalize="none">
                    </div>
                    <button type="submit" class="btn btn-sm btn-success mx-1">Login</button>
                </form>
            </div>
            <ul ng-if="vm.isLoggedIn()" class="new navbar-nav navbar-right d-inline-flex">
                <li>
                    <p class="navbar-text">Welcome {{vm.loggedInUser}}</p>
                </li>
                <li>
                    <button class="navbar-btn btn-sm btn-info" ng-click="vm.logout()">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>